.footer {
  background-color: #f8f9fa;
  padding: 3rem 0;

  .company {
    .d-flex a {
      text-decoration: none;
      color: #343a40;
      font-size: 0.9rem;
      margin: 0.3rem 0;

      &:hover {
        color: $purple;
      }
    }
  }

  .newsletter {
    padding: 3rem;

    .d-flex input {
      border: none;
      width: 200px;
      font-size: 1rem;
      margin: 0.8rem 0;
      background-color: #f8f9fa;
      border-radius: 4rem;

      &::placeholder {
        font-size: 1rem;
        padding: 0 1rem;
      }
    }

    button {
      background-color: #343a40;
      color: white;
      padding: 0.3rem 1.5rem;
      border-radius: 4rem;
      font-size: 0.8rem;

      &:hover {
        background: $purple;
      }
    }
  }
}
